<ion-header>
  <ion-toolbar>
    <ion-title>Inventario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Botón para regresar al inicio -->
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="full" color="primary" (click)="goToHome()">Ir al inicio</ion-button>
      </ion-col>
    </ion-row>

    <!-- Lista de productos -->
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item *ngFor="let producto of productos">
            <ion-label>
              <h2>{{ producto.Nombre }}</h2>
              <p>Precio: ${{ producto.Precio }}</p>
              <p>Stock: {{ producto.Stock }}</p>
              <p>Categoría: {{ producto.Categoria }}</p>
              <p>Proveedor: {{ producto.proveedor }}</p>
            </ion-label>

            <!-- Mostrar los botones de editar y eliminar solo si el id está presente -->
            <ion-buttons slot="end" *ngIf="producto.id">
              <ion-button color="warning" (click)="editProducto(producto)">
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <ion-button color="danger" (click)="deleteProducto(producto.id)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>          
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
