// Estilos para la página
ion-header {
  .ion-toolbar {
    background-color: #3880ff; // Color primario del toolbar
  }

  .ion-title {
    text-align: center;
  }
}

ion-card {
  &.custom-card {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .ion-card-header {
    background-color: #f4f4f4;
    padding: 16px;
  }

  .ion-card-title {
    font-weight: bold;
  }

  .ion-card-content {
    padding: 16px;
    font-size: 14px;

    p {
      margin: 5px 0;
    }
  }

  .action-buttons {
    ion-button {
      margin-top: 10px;
      width: 100%;
    }
  }
}

// Estilos para el botón de "Inicio" que ocupa todo el ancho
.full-width-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  z-index: 100;
  
  ion-button {
    --background: #ff7c40; // Color del botón "Inicio"
    --border-radius: 0; // Sin bordes redondeados para que el botón ocupe todo el ancho
    font-size: 16px;
    --height: 60px; // Ajusta la altura del botón si es necesario
    --padding-start: 16px;
    --padding-end: 16px;

    ion-icon {
      margin-right: 8px;
    }
  }
}

ion-modal {
  .modal-content {
    background: rgba(0, 0, 0, 0.3); // Fondo semitransparente para el modal
    padding: 20px;
    border-radius: 10px;
  }

  ion-header {
    .ion-toolbar {
      background-color: #3880ff;
    }
  }
  
  ion-item {
    margin-bottom: 15px;
  }

  ion-footer {
    padding: 10px;
    background-color: #f4f4f4;
  }
}
