<ion-header>
  <ion-toolbar>
    <ion-title>Gestionar Categorías</ion-title>
  </ion-toolbar>
</ion-header> <br><br>

<ion-content class="center-content">
  <!-- Tarjeta centrada -->
  <ion-card class="full-card">
    <ion-card-header>
      <ion-card-title>{{ editing ? 'Editar Categoría' : 'Agregar Nueva Categoría' }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Formulario -->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="newCategoria.Nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="newCategoria.Descripcion"></ion-textarea>
      </ion-item>
      
      <!-- Botones -->
      <ion-button expand="full" color="primary" (click)="editing ? updateCategoria() : addCategoria()">
        {{ editing ? 'Actualizar Categoría' : 'Agregar Categoría' }}
      </ion-button>
      <ion-button expand="full" color="medium" (click)="clearForm()" *ngIf="editing">
        Cancelar
      </ion-button>
      
      <!-- Lista de Categorías -->
      <ion-list>
        <ion-list-header>
          <ion-label>Lista de Categorías</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let categoria of categorias | async">
          <ion-label>
            <h2>{{ categoria.Nombre }}</h2>
            <p>{{ categoria.Descripcion }}</p>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="warning" (click)="editCategoria(categoria)">
              Editar
            </ion-button>
            <ion-button color="danger" (click)="deleteCategoria(categoria.id)">
              Eliminar
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
      
      <!-- Botón para regresar al inicio -->
      <ion-button expand="full" color="secondary" (click)="goToHome()" class="return-button">
        Ir a Inicio
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
