<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar Categoría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="edit-categoria-container">
    <h2>Editar Categoría</h2>

    <form (submit)="updateCategoria()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="categoriaNombre" name="nombre" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input [(ngModel)]="categoriaDescripcion" name="descripcion" type="text" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" class="update-button">Actualizar</ion-button>
    </form>
  </div>
</ion-content>
