<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Gestión de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding center-content">

  <!-- Título del formulario -->
  <h2 class="form-title">Agregar Producto</h2>

  <!-- Campo de nombre del producto -->
  <ion-item lines="full">
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="newProduct.Nombre" required placeholder="Introduce el nombre del producto"></ion-input>
  </ion-item>

  <!-- Campo de descripción del producto -->
  <ion-item lines="full">
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="newProduct.Descripcion" required placeholder="Introduce una descripción del producto"></ion-textarea>
  </ion-item>

  <!-- Campo de categoría -->
  <ion-item lines="full">
    <ion-label position="stacked">Categoría</ion-label>
    <ion-select [(ngModel)]="newProduct.Categoria" interface="popover" placeholder="Selecciona una categoría" required>
      <ion-select-option *ngFor="let categoria of categorias | async" [value]="categoria.Nombre">{{ categoria.Nombre }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Campo de precio -->
  <ion-item lines="full">
    <ion-label position="stacked">Precio</ion-label>
    <ion-input type="number" [(ngModel)]="newProduct.Precio" required placeholder="Introduce el precio del producto"></ion-input>
  </ion-item>

  <!-- Campo de stock -->
  <ion-item lines="full">
    <ion-label position="stacked">Stock</ion-label>
    <ion-input type="number" [(ngModel)]="newProduct.Stock" required placeholder="Introduce el stock disponible"></ion-input>
  </ion-item>

  <!-- Campo de proveedor -->
  <ion-item lines="full">
    <ion-label position="stacked">Proveedor</ion-label>
    <ion-select [(ngModel)]="newProduct.Proveedores" interface="popover" placeholder="Selecciona una categoría" required>
      <ion-select-option *ngFor="let proveedores of proveedores | async" [value]="proveedores.Nombre">{{ proveedores.Nombre }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Botón para agregar el producto -->
  <ion-button expand="block" (click)="addProduct()" color="secondary" class="btn-add-product">
    <ion-icon name="add-circle-outline" slot="start"></ion-icon>
    Agregar Producto
  </ion-button>

  <!-- Botón de regreso al inicio -->
  <ion-button expand="block" color="primary" (click)="goToHome()" class="btn-home">
    <ion-icon name="home-outline" slot="start"></ion-icon>
    Ir a Inicio
  </ion-button>

</ion-content>
